/* all accordions bold */
.accordion .accordion-button {
  font-weight: 700;
  font-size: 17.6px;
}

/* roadmap zoom title view */
.roadmap-zoom-title
{
  p > strong {
    padding-right: 5px;
  }
  
  .crop-container {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 30px;
    float: right;

    img {
      width: 946px;
      height: 524px;

      &.research-design {
        margin: -34px 0px 0px -285px;
      }

      &.write-plans {
        margin: -55px 0px 0px -492.5px;
      }

      &.networking {
        margin: -30px 0px 0px -697.5px;
      }

      &.document-research {
        margin: -220px 0px 0px -685px;
      }

      &.data-collection-storage {
        margin: -200px 0px 0px -549px;
      }

      &.data-analysis {
        margin: -195px 0px 0px -422.5px;
      }

      &.handling-unexpected {
        margin: -220px 0px 0px -290px;
      }

      &.good-reporting {
        margin: -365px 0px 0px -315px;
      }

      &.data-sharing {
        margin: -365px 0px 0px -463px;
      }

      &.generating-impact {
        margin: -345px 0px 0px -610px;
      }
    }
  }
}